@charset "UTF-8";

#p{
  height: 1000px;
  width: 1000px;
  background-color: cadetblue;
}

#s{
  height: 300px;
  width: 300px;
  padding: 20px;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  height: 100px;
  width: 100px;
}